include LICENSE
include tox.ini
recursive-include ci *.sh
recursive-include ci *.py
recursive-include tests *.py
recursive-include tests/tasks/patch-data *.diff
recursive-include tests/tasks/patch-data *.txt
recursive-include docs *.py
recursive-include docs *.rst
recursive-include . .keepme
